@font-face {
  font-family: '_neodgm';
  src: url('neodgm.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*
 * Solarized Light
 */

.light {
  background-color: #fdf6e3;
  color: #657b83;
}

.light .highlight {
  background-color: #eee8d5;
}

.light .dim {
  color: #93a1a1;
}

.light strong,
.light b {
  color: #586e75;
}

.light i,
.light em {
  color: #586e75;
  font-style: normal;
  text-decoration: underline;
}

.light h1,
.light h2 {
  background-color: #eee8d5;
}

.light h1 {
  color: #586e75;
}

.light a:hover {
  background-color: #eee8d5;
}

/*
 * Solarized Dark
 */

.dark {
  background-color: #002b36;
  color: #839496;
}

.dark .highlight {
  background-color: #073642;
}

.dark .dim {
  color: #586e75;
}

.dark strong,
.dark b {
  color: #93a1a1;
}

.dark i,
.dark em {
  color: #93a1a1;
  font-style: normal;
  text-decoration: underline;
}

.dark h1,
.dark h2 {
  background-color: #073642;
}

.dark h1 {
  color: #93a1a1;
}

.dark a:hover {
  background-color: #073642;
}

/*
 * Solarized Common
 */

a:link,
a:visited,
a:active {
  color: #368bd2;
}

ul li {
  list-style: none;
}

ul li:before {
  margin: 0 0 0 -1em;
  content: '* ';
  color: #b58900;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 1em;
}

h2 {
  font-size: 1em;
  line-height: 1em;
  color: #cb4b16;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  color: #2aa198;
}

/*
 * End of Solarized Style Rules
 */

* {
  font-weight: normal !important;
}

body {
  margin: 0;
  font-family: '_neodgm', monospace;
  font-size: 16px;
  line-height: 1em;
  background-color: #002b36;
}

body * {
  max-height: 4294967295em;
}

.wrapper {
  padding: 1px 1rem;
}

.wrapper h1 {
  margin: 1rem -1rem;
  padding: 0 1rem;
}

.wrapper h2 { margin: 1rem -1rem; }
.wrapper h2:before { content: '█ '; }
.wrapper h2:after  { content: ' '; }

.wrapper h3:before { content: '░ '; }

p {
  width: 640px;
  word-break: keep-all;
}
